---
import "../styles/global.css";
const { title, description, index } = Astro.props;
---

<div class="relative overflow-hidden bg-[#191B1F] w-full md:w-[635px] flex flex-col gap-4 pt-8 pb-15 px-8 md:px-25 items-center">
  <!-- Background SVG (10% opacity) -->
  <svg
    class="absolute inset-0 w-full h-full opacity-1 z-0 pointer-events-none"
    viewBox="0 0 600 400"
    aria-hidden="true"
    preserveAspectRatio="xMidYMid slice"
    xmlns="http://www.w3.org/2000/svg"
  >
    <!-- Replace with your own artwork -->
    <g>
        <path d="M672.62 114.048L628.046 158.619C625.444 161.223 623.333 166.319 623.333 170V258.667C623.333 262.348 621.222 267.444 618.62 270.048L541.046 347.619C538.444 350.222 536.333 355.319 536.333 359V390.667C536.333 394.348 538.444 395.222 541.046 392.619L602.12 331.548C604.722 328.944 606.833 329.819 606.833 333.5V342.667C606.833 346.348 604.722 351.444 602.12 354.048L544.797 411.369C542.194 413.972 543.068 416.084 546.75 416.084H598.666C602.349 416.084 607.444 413.972 610.046 411.369L645.994 375.422C648.597 372.819 650.708 367.722 650.708 364.041V188C650.708 184.319 652.818 179.223 655.421 176.619L671.306 160.735C673.91 158.132 676.104 153.037 676.208 149.357L677.145 115.997C677.25 112.317 675.222 111.444 672.62 114.048Z" fill="white"/>
        <path d="M192.666 374C188.255 374 184.667 370.412 184.667 366V344C184.667 339.588 188.255 336 192.666 336H220.801C221.418 332.957 224.108 330.667 227.333 330.667H299.448L384.344 245.772C387.205 242.909 392.618 240.667 396.666 240.667H455.333C459.745 240.667 463.333 244.255 463.333 248.667V277.333C463.333 280.275 465.725 282.667 468.666 282.667H485.333C488.648 282.667 493.426 280.686 495.77 278.343L540.344 233.772C542.688 231.428 544.666 226.647 544.666 223.333V152.667C544.666 149.725 542.274 147.333 539.333 147.333H494.166C489.754 147.333 486.166 143.745 486.166 139.333V130.167C486.166 126.119 488.409 120.705 491.27 117.843L552.344 56.772C553.422 55.692 553.494 55.036 553.434 54.8906C553.374 54.7466 552.861 54.3333 551.333 54.3333H519.666C516.352 54.3333 511.573 56.3133 509.229 58.6573L419.656 148.228C416.794 151.091 411.381 153.333 407.333 153.333H366.666C363.352 153.333 358.573 155.313 356.229 157.657L343.885 170H502C505.682 170 508.666 172.985 508.666 176.667V196.333C508.666 200.015 505.682 203 502 203H404.333C400.65 203 395.556 205.111 392.953 207.715L310.715 289.952C308.111 292.556 303.016 294.667 299.333 294.667H185.333C181.652 294.667 176.556 296.777 173.952 299.381L129.381 343.952C126.777 346.556 124.667 351.652 124.667 355.333V426C124.667 429.681 127.651 432.667 131.333 432.667H466C469.682 432.667 472.666 429.681 472.666 426V374H192.666Z" fill="white"/>
        <path d="M466 348.667H227.333C223.652 348.667 220.666 345.681 220.666 342V338.667H192.666C189.725 338.667 187.333 341.059 187.333 344V366C187.333 368.941 189.725 371.333 192.666 371.333H472.666V355.333C472.666 351.652 469.682 348.667 466 348.667Z" fill="white"/>
        <path d="M634 36.6666H468.667C464.984 36.6666 459.889 38.7773 457.287 41.3813L394.713 103.952C392.111 106.556 387.016 108.667 383.333 108.667H372.667C368.984 108.667 368.111 106.556 370.713 103.952L481.287 -6.61871C483.889 -9.22271 483.016 -11.3334 479.333 -11.3334H432.667C428.984 -11.3334 423.889 -9.22271 421.287 -6.61871L310.715 103.952C308.111 106.556 303.016 108.667 299.333 108.667H167.333C163.652 108.667 158.556 106.556 155.952 103.952L129.381 77.3813C126.777 74.7773 124.667 69.6813 124.667 65.9999V-16.6667C124.667 -20.3481 121.682 -23.3334 118 -23.3334H103.667C99.9849 -23.3334 97 -20.3481 97 -16.6667V57.6666C97 61.3479 99.1104 66.444 101.714 69.048L155.952 123.285C158.556 125.889 163.652 128 167.333 128H269.333C273.016 128 278.111 130.111 280.715 132.715L313.285 165.285C315.889 167.889 320.985 170 324.667 170H340.115L354.344 155.772C357.205 152.909 362.619 150.667 366.667 150.667H407.333C410.648 150.667 415.427 148.687 417.771 146.343L507.344 56.772C510.205 53.9093 515.619 51.6666 519.667 51.6666H551.333C554.512 51.6666 555.557 53.0479 555.899 53.8706C556.24 54.6933 556.476 56.4093 554.229 58.6573L493.156 119.728C490.812 122.072 488.833 126.852 488.833 130.167V139.333C488.833 142.275 491.225 144.667 494.167 144.667H539.333C543.745 144.667 547.333 148.255 547.333 152.667V223.333C547.333 227.381 545.091 232.795 542.229 235.657L497.656 280.228C494.795 283.091 489.381 285.333 485.333 285.333H468.667C464.255 285.333 460.667 281.745 460.667 277.333V248.667C460.667 245.725 458.275 243.333 455.333 243.333H396.667C393.352 243.333 388.573 245.313 386.229 247.657L303.219 330.667H328C331.683 330.667 336.777 328.556 339.38 325.952L395.953 269.381C398.556 266.777 403.651 264.667 407.333 264.667H442C445.683 264.667 448.667 267.652 448.667 271.333V291C448.667 294.681 451.651 297.667 455.333 297.667H511C514.683 297.667 519.777 295.556 522.38 292.952L569.953 245.381C572.556 242.777 574.667 237.681 574.667 234V109.333C574.667 105.652 576.777 100.556 579.38 97.9519L635.953 41.3813C638.556 38.7773 637.683 36.6666 634 36.6666Z" fill="white"/>
        <path d="M180.667 74C176.255 74 172.667 70.412 172.667 66V37.3333C172.667 32.9213 176.255 29.3333 180.667 29.3333H305.333C308.648 29.3333 313.428 27.3533 315.772 25.0093L324.343 16.4386C325.423 15.3586 325.494 14.7026 325.434 14.5573C325.374 14.4133 324.86 14 323.333 14H168.667C164.255 14 160.667 10.412 160.667 5.99996V-23.3334H143.333C139.652 -23.3334 136.667 -20.348 136.667 -16.6667V42C136.667 45.6813 138.777 50.7773 141.381 53.3813L167.952 79.9519C170.556 82.5559 175.652 84.6666 179.333 84.6666H286C289.682 84.6666 292.666 81.6813 292.666 78V74H180.667Z" fill="white"/>
        <path d="M394 -23.3333H163.333V5.99998C163.333 8.93998 165.725 11.3333 168.666 11.3333H323.333C326.51 11.3333 327.557 12.7147 327.898 13.5373C328.238 14.36 328.476 16.076 326.228 18.324L317.657 26.8946C314.794 29.7573 309.381 32 305.333 32H180.666C177.725 32 175.333 34.3933 175.333 37.3333V66C175.333 68.94 177.725 71.3333 180.666 71.3333H292.666V67.3333C292.666 63.652 289.682 60.6666 286 60.6666H203.333C199.652 60.6666 196.666 57.9813 196.666 54.6666C196.666 51.352 199.652 48.6666 203.333 48.6666H322C325.682 48.6666 330.777 46.556 333.381 43.952L395.953 -18.6187C398.556 -21.2227 397.682 -23.3333 394 -23.3333Z" fill="white"/>
        <path d="M143.009 172.439C145.872 169.576 151.285 167.333 155.333 167.333H226C228.477 167.333 230.548 165.627 231.144 163.333H114C110.318 163.333 105.223 161.223 102.619 158.619L46.0473 102.048C43.4437 99.444 41.3333 94.348 41.3333 90.6666V-4.00003C41.3333 -7.68137 38.3489 -10.6667 34.6666 -10.6667H17.9999C14.3182 -10.6667 11.3333 -7.68137 11.3333 -4.00003V84.6666C11.3333 88.348 13.4437 93.444 16.0473 96.048L96.6192 176.619C99.2228 179.223 98.3488 181.333 94.6666 181.333H59.9999C56.3182 181.333 53.3332 184.319 53.3332 188V228.667C53.3332 232.348 56.3182 235.333 59.9999 235.333H80.1144L143.009 172.439Z" fill="white"/>
        <path d="M250.666 163.333H233.88C233.242 167.111 229.956 170 226 170H155.333C152.018 170 147.238 171.98 144.894 174.324L83.8853 235.333H112.666C116.349 235.333 121.444 233.223 124.047 230.619L168.618 186.048C171.222 183.444 176.318 181.333 180 181.333H250.666C254.349 181.333 257.333 178.348 257.333 174.667V170C257.333 166.319 254.349 163.333 250.666 163.333Z" fill="white"/>
        <path d="M122.278 137.251H116.611L111.223 146.584L116.611 155.917H122.278L116.889 146.584L122.278 137.251Z" fill="white"/>
        <path d="M134.611 137.251H128.945L123.556 146.584L128.945 155.917H134.611L129.223 146.584L134.611 137.251Z" fill="white"/>
        <path d="M146.944 137.251H141.277L135.889 146.584L141.277 155.917H146.944L141.556 146.584L146.944 137.251Z" fill="white"/>
        <path d="M159.277 137.251H153.611L148.223 146.584L153.611 155.917H159.277L153.889 146.584L159.277 137.251Z" fill="white"/>
        <path d="M171.611 137.251H165.944L160.556 146.584L165.944 155.917H171.611L166.223 146.584L171.611 137.251Z" fill="white"/>
        <path d="M183.944 137.251H178.277L172.889 146.584L178.277 155.917H183.944L178.556 146.584L183.944 137.251Z" fill="white"/>
        <path d="M324.661 355.288H320.963L317.445 361.38L320.963 367.472H324.661L321.144 361.38L324.661 355.288Z" fill="white"/>
        <path d="M332.711 355.288H329.012L325.496 361.38L329.012 367.472H332.711L329.195 361.38L332.711 355.288Z" fill="white"/>
        <path d="M340.761 355.288H337.063L333.545 361.38L337.063 367.472H340.761L337.244 361.38L340.761 355.288Z" fill="white"/>
        <path d="M348.811 355.288H345.113L341.595 361.38L345.113 367.472H348.811L345.295 361.38L348.811 355.288Z" fill="white"/>
        <path d="M356.861 355.288H353.162L349.645 361.38L353.162 367.472H356.861L353.345 361.38L356.861 355.288Z" fill="white"/>
        <path d="M364.912 355.288H361.213L357.694 361.38L361.213 367.472H364.912L361.394 361.38L364.912 355.288Z" fill="white"/>
        <path d="M501.632 126.797H497.933L494.416 132.888L497.933 138.981H501.632L498.115 132.888L501.632 126.797Z" fill="white"/>
        <path d="M509.683 126.797H505.983L502.467 132.888L505.983 138.981H509.683L506.165 132.888L509.683 126.797Z" fill="white"/>
        <path d="M517.732 126.797H514.033L510.516 132.888L514.033 138.981H517.732L514.215 132.888L517.732 126.797Z" fill="white"/>
        <path d="M525.782 126.797H522.084L518.566 132.888L522.084 138.981H525.782L522.265 132.888L525.782 126.797Z" fill="white"/>
        <path d="M533.832 126.797H530.135L526.616 132.888L530.135 138.981H533.832L530.315 132.888L533.832 126.797Z" fill="white"/>
        <path d="M541.883 126.797H538.184L534.667 132.888L538.184 138.981H541.883L538.365 132.888L541.883 126.797Z" fill="white"/>
        <path d="M518.444 18.888V-6.82667C520.063 -7.13867 521.287 -8.56001 521.287 -10.2693C521.287 -12.2067 519.716 -13.7787 517.777 -13.7787C515.84 -13.7787 514.268 -12.2067 514.268 -10.2693C514.268 -8.56001 515.492 -7.13867 517.111 -6.82667V20.2213H654.444V62.3906L602.444 114.391V247.724L542.888 307.28C541.524 306.357 539.653 306.496 538.444 307.704C537.075 309.075 537.075 311.296 538.444 312.667C539.815 314.037 542.036 314.037 543.408 312.667C544.616 311.457 544.755 309.588 543.831 308.223L603.777 248.276V114.943L655.777 62.9427V18.888H518.444Z" fill="white"/>
        <path d="M496.222 409.493C496.222 400.532 496.222 384.356 496.222 369.579C496.222 361.047 496.222 352.985 496.222 347.057C496.222 344.093 496.222 341.662 496.222 339.972C496.222 338.281 496.222 337.336 496.222 337.333V336.667H386.061C385.75 335.048 384.329 333.824 382.62 333.824C380.682 333.824 379.11 335.396 379.11 337.333C379.11 339.271 380.682 340.843 382.62 340.843C384.329 340.843 385.75 339.619 386.061 338H494.889C494.889 338.448 494.889 339.112 494.889 339.972C494.889 350.897 494.889 392.776 494.889 409.493C493.27 409.805 492.046 411.225 492.046 412.936C492.046 414.873 493.617 416.444 495.556 416.444C497.493 416.444 499.065 414.873 499.065 412.936C499.065 411.225 497.841 409.805 496.222 409.493Z" fill="white"/>
        <path d="M479.824 187.176C481.761 187.176 483.333 185.604 483.333 183.667C483.333 181.729 481.761 180.157 479.824 180.157C478.115 180.157 476.695 181.381 476.383 183H366.057L304.391 244.667H161.723L91.9999 314.391V360H-17.7157C-18.0271 358.381 -19.4485 357.157 -21.1579 357.157C-23.0954 357.157 -24.6667 358.729 -24.6667 360.667C-24.6667 362.604 -23.0954 364.176 -21.1579 364.176C-19.4485 364.176 -18.0271 362.952 -17.7157 361.333H93.3333V314.943L162.276 246H304.943L366.609 184.333H476.383C476.695 185.952 478.115 187.176 479.824 187.176Z" fill="white"/>
        <path d="M321.629 74.6666C322.837 73.4573 322.977 71.588 322.053 70.2226L402.224 -9.9467C403.588 -9.02404 405.459 -9.16136 406.667 -10.3707C408.036 -11.7414 408.036 -13.9627 406.667 -15.3334C405.297 -16.704 403.075 -16.704 401.704 -15.3334C400.495 -14.124 400.356 -12.2547 401.28 -10.8893L321.111 69.28C319.745 68.3573 317.876 68.4946 316.667 69.704C315.296 71.0746 315.296 73.296 316.667 74.6666C318.037 76.0373 320.259 76.0373 321.629 74.6666Z" fill="white"/>
        <path d="M605.361 98.612L612.988 96.568L607.405 90.984L605.361 98.612Z" fill="white"/>
        <path d="M613.139 90.8347L620.765 88.7906L615.183 83.2067L613.139 90.8347Z" fill="white"/>
        <path d="M620.916 83.0573L628.543 81.0147L622.959 75.4293L620.916 83.0573Z" fill="white"/>
        <path d="M628.693 75.2813L636.321 73.236L630.737 67.6519L628.693 75.2813Z" fill="white"/>
        <path d="M636.471 67.5026L644.097 65.4586L638.515 59.8746L636.471 67.5026Z" fill="white"/>
        <path d="M417.917 193.307L424.754 197.255V189.357L417.917 193.307Z" fill="white"/>
        <path d="M428.916 193.305L435.753 197.255V189.357L428.916 193.305Z" fill="white"/>
        <path d="M439.915 193.305L446.752 197.255V189.357L439.915 193.305Z" fill="white"/>
        <path d="M450.913 193.305L457.752 197.255V189.357L450.913 193.305Z" fill="white"/>
        <path d="M461.913 193.305L468.75 197.255V189.357L461.913 193.305Z" fill="white"/>
        <path d="M191.25 279.198L202.358 285.614V272.785L191.25 279.198Z" fill="white"/>
        <path d="M209.116 279.198L220.225 285.614V272.785L209.116 279.198Z" fill="white"/>
        <path d="M226.982 279.198L238.092 285.614V272.784L226.982 279.198Z" fill="white"/>
        <path d="M244.849 279.198L255.961 285.614L255.96 272.784L244.849 279.198Z" fill="white"/>
        <path d="M262.719 279.198L273.828 285.612V272.784L262.719 279.198Z" fill="white"/>
        <path d="M35.5359 132.425L37.5228 139.84L42.9504 134.412L35.5359 132.425Z" fill="white"/>
        <path d="M43.0962 139.985L45.0826 147.4L50.5107 141.972L43.0962 139.985Z" fill="white"/>
        <path d="M50.6562 147.545L52.6432 154.96L58.0708 149.532L50.6562 147.545Z" fill="white"/>
        <path d="M58.2166 155.105L60.2035 162.521L65.6322 157.093L58.2166 155.105Z" fill="white"/>
        <path d="M65.7778 162.667L67.7637 170.081L73.1924 164.653L65.7778 162.667Z" fill="white"/>
        <path d="M213.188 117.899L219.836 121.737V114.06L213.188 117.899Z" fill="white"/>
        <path d="M223.88 117.899L230.528 121.737V114.06L223.88 117.899Z" fill="white"/>
        <path d="M234.572 117.899L241.22 121.737V114.06L234.572 117.899Z" fill="white"/>
        <path d="M245.263 117.899L251.912 121.737V114.06L245.263 117.899Z" fill="white"/>
        <path d="M255.956 117.899L262.604 121.736V114.06L255.956 117.899Z" fill="white"/>
        <path d="M558.203 348.704L565.617 346.719L560.189 341.289L558.203 348.704Z" fill="white"/>
        <path d="M565.763 341.144L573.177 339.157L567.749 333.729L565.763 341.144Z" fill="white"/>
        <path d="M573.323 333.584L580.737 331.597L575.308 326.169L573.323 333.584Z" fill="white"/>
        <path d="M580.883 326.024L588.299 324.036L582.869 318.608L580.883 326.024Z" fill="white"/>
        <path d="M588.444 318.462L595.858 316.476L590.429 311.048L588.444 318.462Z" fill="white"/>
        </g>
        <defs>
        <rect fill="white"/>
        </defs>
  </svg>
    

  <!-- Gradient overlay ABOVE the SVG, BELOW the content -->
  <div
    class="absolute inset-0 z-10 pointer-events-none bg-gradient-to-b from-transparent to-[#191B1F]"
    aria-hidden="true"
  ></div>

  <!-- Corner decor -->
  <svg class="absolute top-0 left-0 z-30" width="37" height="135" viewBox="0 0 37 135" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
    <path d="M37 0L13 24V114.5L0 134.5V0H37Z" fill="#0F1114"/>
  </svg>
  <svg class="absolute bottom-0 right-0 z-30" width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
    <path d="M37 37H0L37 0V37Z" fill="#0F1114"/>
  </svg>

  <!-- Content (on top) -->
  <p class="uppercase text-xs font-mono text-white text-center absolute bottom-8 left-[-4px] rotate-[-90deg] antialiased z-20">
    Type {index}
  </p>

  <div class="relative z-20 flex flex-col items-center gap-4">
    <slot />
    <h4 class="uppercase text-2xl font-mono text-white text-center">{title}</h4>
    <p class="font-geist text-base text-[#969FB2] text-center">{description}</p>
  </div>
</div>
