---
import "../styles/global.css";
---

<div class="bg-[#191B1F] w-[635px] flex flex-col gap-4 py-15 px-25 relative">
    <svg class="absolute top-0 left-0" width="37" height="135" viewBox="0 0 37 135" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M37 0L13 24V114.5L0 134.5V0H37Z" fill="#0F1114"/>
    </svg>
    <svg class="absolute bottom-0 right-0" width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M37 37H0L37 0V37Z" fill="#0F1114"/>
    </svg>
        
    <p class="uppercase text-xs font-mono text-white text-center absolute bottom-8 left-[-4px] rotate-[-90deg] antialiased">Type 1</p>
    <h4 class="uppercase text-2xl font-mono text-white text-center">Solo Founders</h4>
    <p class="font-geist text-base text-[#969FB2] text-center">You don’t just need speed. You need someone dependable to turn your ideas into MVPs, prototypes, and first websites on time and done right.</p>
</div>