---
import "../styles/global.css";
---

<div class="bg-[#191B1F]">
    <h4 class="uppercase text-lg font-mono text-white">Solo Founders</h4>
    <p>You don’t just need speed. You need someone dependable to turn your ideas into MVPs, prototypes, and first websites on time and done right.</p>
</div>