---
import "../styles/global.css";
const { href, text } = Astro.props;
---

<a class="font-mono text-base button uppercase py-4 px-6" 
    href={href}>{text}
</a>

<style>
    .button {
		color: #923500;
		background: #C8FB46;
	}

	.button:hover {
		color: rgb(230, 230, 230);
	}
</style>